.button {
	color: #fff;
    background: #50d2c2;
    display: inline-block;
    border-radius: 4px;
    padding: 0 20px;
    margin: 4px 0;
    height: 38px;
    min-width: 70px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
}
.button:active, .button[active], .button.active {
    opacity:.6;
}
.button.disabled, .button[disabled] {
    pointer-events: none;
    color: #FFF;
    border-color: #a6a6a6;
    background: #a6a6a6;
    opacity: 0.6;
}

.button.block {
    height: 37px;
    padding: 10px;
    font-size: 17px;
    line-height: 17px;
    width: 100%;
}
.btn_menu {
	padding-top: 10px;
	padding-left: 10px;
}
.btn_menu em{
	width: 23px;
	height: 2px;
	background-color: #a8a8aa;
	display: block;
	margin-top: 5px;
}
