.list_ul {
    padding-bottom: 1px;
    background: #FFF;
    border-style: solid;
    border-color: #E5E5EB;
    border-width: 1px 0 1px 0;
}
.item_li {
    position: relative;
    list-style-type: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #000;
    height: 45px;
}
.item_li + .item_li {
    border-top: 1px solid #E5E5EB;
}
.item_li > a {
    display: block;
    position: relative;
    padding: 10px 12px;
    color: #000;
    height: 100%;
}

.list_ul.right_icon .item_li > a {
    padding-right: 22px;
}
.list_ul.right_icon .item_li > a:after {
    color: #CCC;
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 9px;
    height: 9px;
    margin-top: -5px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
}
