#main {
	text-align: center;
}
#main img {
	max-width: 80%;
	margin: 10px auto;
	max-height: 100px;
}
#main .button{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}